html {
  font-size: 1vw;

  @media (orientation: portrait) {
    & {
      font-size: 1vh;
    }
  }
}

body {
  color: $white;
  background: $black no-repeat center center;
  background-size: cover;
  min-height: 100%;
  margin: 0;
  padding: 0;
}

.logo {
  background: transparent url(/assets/images/tempo-logo-r2.svg) no-repeat center center;
  background-size: contain;
  width: 25rem;
  height: 25rem;
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
  text-indent: -999rem;
  z-index: 888;

  @media (orientation: portrait) {
    width: 30rem;
    height: 30rem;
  }
}

.sign-up {
  margin: auto;
  position: absolute;
  display: flex;
  align-content: flex-end;
  width: 25rem;
  height: 25rem;
  top: 0; left: 0; bottom: 0; right: 0;
  z-index: 890;
  padding: 0;

  @media (orientation: portrait) {
    width: 30rem;
    height: 30rem;
  }

  #mc_embed_signup {
    background: transparent; 
    clear:left; 
    font-size: 1rem;
    width:100%;
    align-self: flex-end;
    padding: 0;

    form {
      padding: 0;
    }

    input.email {
      width: 65%;
      margin: 0;
      height: 2.5rem;
      font-size: 1rem;
      font-weight: normal;
      text-align: center;
      border-radius: 0;
      border: 1px solid #fff;
      background-color: transparent;
      color: #fff;

      &::placeholder {
        color: #fff;
      }

      @media (orientation: portrait) {
        width: 100%;
        margin-bottom: 2px;
        font-size: 1.5rem;
        height: 3.5rem;
      }
    }

    input.button {
      -webkit-appearance: none;
      margin: 0;
      width: 100%;
      margin: 0;
      background-color: black;
      font-size: 1rem;
      font-weight: normal;
      border-radius: 0;
      height: 2.5rem;
      padding: 0 0;
      vertical-align: middle;
      line-height: 2.5rem;

      @media (orientation: portrait) {
        font-size: 1.5rem;
        height: 3.5rem;
        line-height: 3.5rem;
      }
    }

    .clear {
      width: 30%;
      margin: 0;
      height: auto;
      padding: 0;
      height: 2.5rem;
      @media (orientation: portrait) {
        width: 100%;
        height: 3.5rem;
      }
    }
  }
}


.links {

  position: absolute;
  z-index: 999;
  width: 100%;
  height: 2rem;
  margin: auto auto 0;
  top: 0; left: 0; bottom: 3rem; right: 0;
  text-align: center;

  @media (orientation: portrait) {
    & {
      bottom: 5rem;
    }
  }

  .link {
    display: inline-block;
    text-indent: -999rem;
    width: 2rem;
    height: 2rem;
    margin: 0;
    padding: 0;
    background-size: contain;
    margin: 0 0.5rem;

    @media (orientation: portrait) {
      & {
        width: 5rem;
        height: 5rem;
      }
    }
  }

  .link__contact {
    background: transparent url(/assets/images/icon-email.svg) no-repeat center center;
  }

  .link__instagram {
    background: transparent url(/assets/images/icon-instagram.svg) no-repeat center center;
  }
}


.slideshow {

  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;

  .slide {
    background-position: center center;
    background-size: cover;
    width: 100%;
    height: 100%;
    position: absolute;
  }

  .slide__active {
    z-index: 10;
  }

  .slide__1 {
    background-image:  url(/assets/images/slide-1.jpg) ;
  }

  .slide__2 {
    background-image:  url(/assets/images/slide-2.jpg) ;
  }
}

