<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    <div class="slideshow">
      <div class="slide slide__1"></div>
      <div class="slide slide__2"></div>
    </div>

    <div class="logo"></div>

    {% include sign-up.html %}

    <div class="links">
      <a target="_blank" class="link link__contact" href="mailto:run@tempojournal.com" title="Contact us">Contact Tempo</a>
      <a target="_blank" class="link link__instagram" href="https://www.instagram.com/tempojournal/" title="Find us on Instagram">Find Tempo on Instagram</a>
    </div>

    {% include scripts.html %}

  </body>

</html>
